
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
}
body{
    height: 100vh;
    background: rgb(0,87,231);
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-content: center;

    .calculator-container{
        padding: 0.5rem;
        margin: auto;
        .screen-container{
            grid-column: 1,-1;
            background-color: rgb(255, 255, 255);
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            word-wrap: break-word;
            word-break: break-all;
            min-height: 10rem;

            .history{
                font-size: 1.5rem;
                padding: 1rem;
                color: rgba(0, 0, 0, 0.514);
            }
            .display{
                font-size: 2.5rem;
                padding: 1rem;
            }
        }

        .button-container{
            display: grid;
            justify-content: center;
            align-content: center;
            grid-template-columns: repeat(4, minmax(2rem,7rem));
            grid-template-rows: repeat(5, 5.5rem);
            grid-gap: 3px;

                button:hover{
                    background-color: black;
                   color: white;
                }
            .number{
                background-color: rgb(255, 255, 255);
                border: none;
                outline: none;
                font-size: 2rem;
                &:hover{
                    background-color: black;
                   color: white;
                }
               
            }
            .operator{
                border: none;
                outline: none;
                font-size: 2rem;
                background-color: rgb(255, 166, 0);
                color: white;
                &:hover{
                    background-color: black;
                   color: white;
                }
            }

            #equals{
                background-color: rgb(214,45,32);
                color: white;
                &:hover{
                    background-color: black;
                   color: white;
                }
            }

            .span-two{
                grid-column:span 2;
            }

        }
    }
}